@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: linear-gradient(#F1F3FF ,#CBD4FF);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #151A2E;
  transition: all 0.4s ease;
}
.sidebar.collapsed{
  width: 85px;
  
}

.sidebar .sidebar-header{
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 20px;
  justify-content: space-between;
}

.sidebar-header .header-logo img{
  height: 46px;
  width: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .sidebar-toggler{
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  background: #EEF2FF;
  border-radius: 8px;
  border: none;
  cursor:pointer ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler:hover{
  background: #d9e1fd;
}

.sidebar-header .sidebar-toggler span{
  font-size: 1.75rem;
}

.sidebar-nav .nav-list{
  list-style: none;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0 15px;
  transform:transitionY(15px);
}

.sidebar-nav .nav-item .nav-link{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  padding: 11px 15px;
  border: 1px solid #151A2E;
  transition:0.4s ease;
  border-radius: 8px;
  white-space: nowrap;
}

.sidebar-nav .nav-item:hover > .nav-link{
    background: #EEF2FF;
    color: #151A2E;
}
.sidebar-nav .nav-link .nav-label{
  transform:opacity 0.3s ease;
}
.sidebar.collapsed .nav-link .nav-label{
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .secondary-nav{
  position: absolute;
  bottom: 30px;
  width: 100%;
  background: #151A2E;
}


