/* ---------------------------- */
/* BASE RESET */
/* ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#F1FAFF, #CBE4FF);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ---------------------------- */
/* THEME VARIABLES */
/* ---------------------------- */
:root {
  /* Light Theme */
  --color-text-primary: #1F2936;
  --color-text-placeholder: #798EAE;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ECECFD;
  --color-bg-sidebar: #FFFFFF;
  --color-border-hr: #E2E8F0;
  --color-hover-primary: #695CFE;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}

body.dark-theme {
  /* Dark Theme */
  --color-text-primary: #F1F5F9;
  --color-text-placeholder: #A6B7D2;
  --color-bg-primary: #111827;
  --color-bg-secondary: #3D4859;
  --color-bg-sidebar: #1F2937;
  --color-border-hr: #3B475C;
  --color-hover-primary: #8F85FF;
  --color-hover-secondary: #48566a;
  --color-shadow: rgba(0, 0, 0, 0.03);
}

/* ---------------------------- */
/* SIDEBAR */
/* ---------------------------- */
.sidebar {
  background: #151A2D;
  width: 270px;
  position: fixed;
  margin: 16px;
  border-radius: 16px;
  height: calc(100vh - 32px);
  transition: width 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}
.sidebar-header .menu-toggler{
  display: none;
}

.sidebar-header {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-nav .nav-link {
  color: #fff;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  text-decoration: none;
  transition: 0.4s ease;
  white-space: nowrap;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
}

.sidebar-header .sidebar-toggler {
  
  height: 35px;
  width: 35px;
  background: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #151A2D;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar-header .sidebar-toggler:hover {
  background: #dde4fb;
}

.sidebar-header .sidebar-toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar-nav .nav-link:hover {
  background: #fff;
  color: #151A2D;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

/* TOOLTIP */
.sidebar-nav .nav-tooltip {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  color: #151A2D;
  padding: 6px 12px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

.sidebar.collapsed .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translate(100%, -50%);
}

.sidebar-nav .nav-item {
  position: relative;
}

/* ---------------------------- */
/* RESPONSIVE */
/* ---------------------------- */
@media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    margin: 13px;
    overflow-y: hidden;
    scrollbar-width: none;
    width: calc(100% - 28px);
    max-height: calc(100vh - 28px);
  }

  .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: #151A2D;
    padding: 8px 10px;
    border-radius: 16px;
  }

  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }

  .sidebar-nav .nav-list {
    padding: 0 10px;
  }
  .sidebar-header .menu-toggler{
  display: flex;
  height: 30px;
  width: 30px;
}

 .sidebar-header .menu-toggler span{
    font-size: 1.3rem;
 }

  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-tooltip{
  display: none ;
}
.sidebar-nav .secondary-nav{
  position: relative;
  bottom: 0;
  margin: 40px 0 30px;
}
.sidebar.menu-active{
  overflow-y: auto;
} 
}
