@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: linear-gradient(#F1F3FF ,#CBD4FF);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #151A2E;
  transition: all 0.4s ease;
}
.sidebar.collapsed{
  width: 85px;
  
}

.sidebar .sidebar-header{
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 20px;
  justify-content: space-between;
}

.sidebar-header .header-logo img{
  height: 46px;
  width: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .sidebar-toggler{
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  background: #EEF2FF;
  border-radius: 8px;
  border: none;
  cursor:pointer ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler:hover{
  background: #d9e1fd;
}

.sidebar.collapsed .sidebar-toggler{
  transform: translate(-4px ,65px);
}

.sidebar-header .sidebar-toggler span{
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar-collapsed .sidebar-toggler span{
  transform: rotate(180deg);
}

.sidebar-nav .nav-list{
  list-style: none;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0 15px;
  transform:transitionY(15px);
  transform: 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .primary-nav{
  transform: translateY(65px);
}


.sidebar-nav .nav-item .nav-link{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  padding: 11px 15px;
  border: 1px solid #151A2E;
  transition:0.4s ease;
  border-radius: 8px;
  white-space: nowrap;
}

.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title){
  color: #151A2E;
  background: #EEF2FF;
}
.sidebar-nav .nav-link:where(.nav-label,.dropdown-icon){
  transform:opacity 0.3s ease;
}
.sidebar.collapsed .nav-link .nav-label{
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .secondary-nav{
  position: absolute;
  bottom: 30px;
  width: 100%;
  background: #151A2E;
}

.sidebar-nav .nav-item{
  position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon{
  margin: 0 -4px 0 auto;
  transition:transform 0.4s ease, opacity 0.3s 0.2s ease;
}
.sidebar-collapsed  .dropdown-container .dropdown-icon{
  transition:opacity 0.3s 0.2s ease;
}
.sidebar-nav .dropdown-container.open .dropdown-icon{
  transform: rotate(180deg);
}

.sidebar-nav .dropdown-menu{
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}
.sidebar.collapsed .dropdown-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  opacity: 0;
  pointer-events: none;
  overflow-y: unset !important;
  background: #151A2E;
  border-radius: 0 10px 10px 0;
  transition: 0s;
  padding-right:10px ;
}
.sidebar-collapsed .nav-item:hover .dropdown-menu{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: 0.4s ease;
}

.dropdown-menu .nav-item .nav-link{
  padding: 9px 15px;
}

.sidebar.collapsed .dropdown-menu .nav-link{
  padding: 7px 15px;
}

.dropdown-menu .nav-item .dropdown-title{
  display: none;
}

.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title{
  display: block;
}

.sidebar-nav .primary-nav{
  overflow-y: auto;
  height: calc(100vh - 204px);
  padding-bottom:50px ;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.sidebar-collapsed .sidebar-nav .primary-nav{
  overflow-y: unset;
  transform: translateY(65px);
}

.sidebar-nav .primary-nav:hover{
  scrollbar-color: #151A2E transparent;
  
}

.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title{
  font-weight: 500;

}
.sidebar-collapsed .dropdown-menu:has(.dropdown-link){
  padding: 7px 10px 7px 24px;

}
.sidebar-menu-button{
  display: none;
}

@media (max-width : 768px){
  .sidebar-menu-button{
  display: block;
  position: fixed;
  left: 20px;
  top: 20px;
  border: none;
  background:none;
  cursor: pointer;
  color:#151A2E ;

}
.sidebar-menu-button span{
  font-size: 1.8rem;
}
.sidebar.collapsed{
  width: 260px;
  left: -260px;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler{
  transform: none;
}
.sidebar.collapsed .sidebar-nav .primary-nav{
  transform: translateY(15px);
}
}